@media only screen and (min-width: 32.5em) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  header,
  footer {
    border-radius: 10px;
  }
  header img{
  float: right;
  box-shadow: 0px 4px 4px 4px rgba(67, 56, 71, 0.803);   
  }
}
