body {
  font-size: 16px;
  line-height: 2;
}
h1 {
  font-size: 1.5rem;
  margin: 0.5rem;
}
h2{
    font-size: 1rem;
}

header,
main,
footer {
  margin: 1.25rem auto;
  max-width: 760px;
  font-family: "Ubuntu", sans-serif;
}

header,
footer {
  background-color: rgb(168, 100, 231);
  text-align: center;
  height: 80px;
  padding: 1.5em;
  font-weight: bold;
  color: white;
  font-family: "Bebas Neue", cursive;
}
header img {
  width: 120px;
  margin: 30px;
}
