body{
    font-size: 16px;
    line-height: 2;
}

header, main, footer{
    margin: 1.25rem auto;
    max-width: 760px;
    font-family: Helvetica;
  

}

header, footer{
   
    background-color: rgb(168, 100, 231);
    text-align: center;
    height: 80px;
    border-radius: 10px;
    padding:1.5em;
    font-weight: bold;
    color:white;


}
img {
    width: 120px;
    float: right;
    margin: 30px;
   
   
}