@media (min-width:37.5em){
.navigation{
    display: flex;
}
.navigation li{
    display: block;
    flex: 1 1 100%;
}
.navigation a{
    text-align: center;
}
nav button li:first-child{
    display:none;
}
nav ul li{
    float: left;
}
nav ul li a{
    border:none;
    border-right: 1px solid rgba(0,0,0,0.3);
    padding: .8rem 1rem;
}
}