@media (min-width:37.5em){
.navigation{
    display: flex;
}
.navigation li{
    display: block;
    flex: 1 1 100%;
}
.navigation a{
    text-align: center;
}
.navigation li:first-child{
    display:none;
}
}