body{
    font-size: 16px;
    line-height: 2;
    
}
h1, h2{
    font-size: 1.5rem;
    color: #6C756B;
}
p{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #a3acb5;
}
header,footer{
    display: flex;
    flex-flow: column;

    background-color: #a9d3ff;
    align-items: center;
}

nav{
    margin: 0 auto;
   background-color:#93ACB5;
}
.navigation{
    list-style-type: none;
    padding:0;
}
.navigation li:first-child{
    display: block;
}
.navigation a{
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration:none;
    color:#6C756B;
    font-weight: 700;
    font-family: 'M PLUS Rounded 1c', sans-serif;

}
.navigation a:hover{
    color: #f2f4ff;
    border-bottom: 7px solid #f2f4ff;

}
