
nav{
    margin: 0 auto;
    max-width: 760px;
    background-color:#93ACB5;
}
.navigation{
    list-style-type: none;
    padding:0;
}
.navigation li:first-child{
    display: block;
}
.navigation a{
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration:none;
    color:#6C756B;
}
.navigation a:hover{
    color: #f2f4ff;
    border-bottom: 1px solid #f2f4ff;

}
