body{
    margin: 0 auto;

}
header{
    text-align: center;
    font-size: 3em;
    color: #56518b;
    font-weight: bold;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4
    , 1fr);
   
}
section h2{
    text-align: center;

}
section {
    text-align: center;
    background-color: #b8b9cd;
    border-color:#56518b;
    margin: 0.5em;
}
img{
    display:block;
    width: 330px;
    height: 440px;
    align-items: center;
    padding: 1em;
    margin: 0 auto;
}
