@media (min-width: 67.5em){
    header{
        flex-flow: column;
    }
    .navigation{
        display: flex;
    }
    .navigation li{
        display: block;
        flex: 1 1 100%;
    }
    .navigation a{
        text-align: center;
    }
    nav button {
        display:none;
    }
    nav ul li{
        float: left;
    }
    nav ul li a{
        border:none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .8rem 1rem;
    }
}