body {
  font-size: 16px;
  line-height: 2;
}
h1,
h2 {
  font-size: 1.5rem;
  color: #6c756b;
  font-family: "Alfa Slab One", cursive;
}
p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #6c756b;
  font-weight: bold;
}
header {
  display: flex;
  background-color: #a9d3ff;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}
header picture img {
  width: 80px;
}
header section h1 {
  margin-bottom: -5px;
}
header section p {
  margin-top: -5px;
  justify-content: center;
  text-align: center;
}
footer {
  display: flex;
  flex-flow: column;
  background-color: #a9d3ff;
  text-align: center;
}

nav button {
  display: flex;
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #fff;
}
nav {
  margin: 0 auto;
  background-color: #93acb5;
  align-items: center;
}

nav ul.hide {
  display: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}
nav ul li a {
  display: block;
  padding: 0.75rem 2%;
  text-align: center;
  text-decoration: none;
  color: #555;
  font-weight: 700;
  font-family: "M PLUS Rounded 1c", sans-serif;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.navigation a:hover {
  color: #f2f4ff;
  background-color: rgba(0, 0, 0, 0.4);
}
main {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
}
main p {
  display: flex;
  border: 2px solid #6c756b;
  align-items: center;
  justify-content: center;
  color: #6c756b;

  font-size: 2rem;
  padding: 0 auto;
}
.hero{
    position:relative;
    margin: 10px auto;
}

.hero img{
    width:100%;
}
.summary{
  position:absolute;
  border: 1px solid white;
  background-color:rgba(70, 69, 117, 0.3);
  text-align: center;
  align-items: center;
  margin:2rem;
  color: white;
  
}
.summary ul{
    padding: 0;
    margin-top: 5px;
}
.summary ul li{
    list-style-type:none;
   
    
}
.summary h1{
    font-size: 24px;
    margin: 0 20px;
    color:white;
    letter-spacing: 0.1rem;
}

.info{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 10px 0;
}
table tr td img{
    width: 50%;
}
.info img{
    width:100%;
}
.snowboarding{
    float:right;
}
.info p {
    font-size: 1em;
    border:none;
    
}
.map{
    width: 300px;
    padding: 3rem;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}