@media (min-width: 67.5em) {
  header {
    flex-flow: column;
  }
  footer {
    display: flex;
    background-color: #a9d3ff;
    text-align: center;
    justify-content: center;
  }
  .navigation {
    display: flex;
  }
  .navigation li {
    display: block;
    flex: 1 1 100%;
  }
  .navigation a {
    text-align: center;
  }
  nav button {
    display: none;
  }
  nav ul li {
    float: left;
  }
  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.8rem 1rem;
  }
  .info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 10px 0;
  }
  picture img{
      width:100%;
  }
  .summary h1 {
    font-size: 24px;
  }
  .forecast {
    display: block;
  }

  .galleryimages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  /* main div.hero-image{
     max-width: 1000px;
  } */
  figure img{
    width: auto;
  }
  figure img:hover {
    box-shadow: 0 0 50px black;
  }
  figure figcaption {
    display: flex;
    justify-content: center;
  }
  main.townPage{
    max-width: 100%;
  }
  fieldset{
      max-width: 800px;
  }
  input.textarea {
    width: 600px;
    height: 200px;
  }
  .container{
      margin:20px auto;
      max-width: 800px;
  }

  .idahoTown {
    display: flex;
    justify-content: center;
  }
  .idahoTown section {
    display: block;
    width: 300px;
    margin: 5px;
  }
  .town_motto {
    justify-content: space-around;
  }
}
