@media (min-width: 64em) {
    .home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }
    
    section:nth-child(3) {
        grid-column: span 1;
    }
}