body{
    font-size: 16px;
    line-height: 2;
    
}
h1{
    font-style: 1.5rem;
}
header,footer{
     display: flex;
     flex-flow: column;
     background-color: #a9d3ff;
     align-items: center;
     justify-content:center;
     padding: 10px;
     text-align: center;
 
 }
header,main,nav,footer{
    margin: 1.25rem auto;
    font-family: 'Alfa Slab One', cursive;

}

main{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
   
}
nav{
    
    background-color: #93ACB5;
    font-style: 1.75rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;


}
nav ul{
    display: block;
    list-style-type: none;
    color: #fff;
}

nav ul li{
    padding: 15px;
    flex: 1 1 auto;
}
nav ul li a{
    display: block;
    font-style: 1rem;
    text-align: center;
   
}

nav ul li a:hover{
    color: #f2f4ff;
    border-bottom: 10px solid #f2f4ff;
   
}
footer{
    flex: 0 1 100%;
    height: 2rem;
}